<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% settings.titles.each do |title| %>
    <li class="pure-menu-item">
      <a href="<%= "/chapter/#{title.number}" %>" class="pure-menu-link"><%= title.text %></a>
    </li>
    <% end %>
  </ul>
</div>
